body {
    background-color: #f8f8f8;
    font-family: GreekFallback, Calibri, "Gill Sans", "Gill Sans MT", Myriad Pro, Myriad, "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

b {
    font-size: 0.9rem;
}

h1 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.1rem;
}

.details {
    border: 2px solid black;
    margin-top: 0.35rem;
    padding: 0.5rem;
}

.central-box{
    max-width: 40em; 
    margin:0 auto;
}